<button class="btn btn-danger btn-sm" @onclick="@OnClick">
    @ChildContent
</button>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}