<button class="btn btn-danger btn-sm" @attributes="@ButtonAttributes">
    @ChildContent
</button>

@code {

    // HTML attributes, which are viable for this button
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> ButtonAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}