<button class="btn btn-primary btn-sm" @attributes="@ButtonAttributes">
    @ChildContent
</button>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> ButtonAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}