@using Frontend.Services
<EditForm Model="todo" OnValidSubmit="OnValidSubmit">
    <InputCheckbox @bind-Value="todo.Done"/>
    <InputText @bind-Value="todo.Name"/>
    <button>@SubmitText</button>
</EditForm>

@code {

    [Parameter]
    public Todo todo { get; set; }

    [Parameter]
    public Action OnValidSubmit { get; set; }

    [Parameter]
    public string SubmitText { get; set; }
}