@using Frontend.Providers
@using Entities.AuthDto
@using Entities.GroupDto
@using Frontend.Components.Forms
@using Frontend.Services
@using Frontend.Components.UI
@inject GroupService _groupService

<OpenableDialog>
    <Opener>
        <PrimaryIconButton @onclick="() => HandleOpen(context)" Icon="@Icon"/>
    </Opener>
    <Title>
        @DialogTitle
    </Title>
    <ChildContent>
        <UserSelectForm
            OnSubmit="user => HandleSubmit(user, context)"
            Users="@Users"
            SelectedUserId="@SelectedUserId"
            SubmitTitle="@SubmitTitle"/>
    </ChildContent>
</OpenableDialog>

@code {

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string DialogTitle { get; set; }

    [Parameter]
    public IEnumerable<UserDto> Users { get; set; }

    [Parameter]
    public string SelectedUserId { get; set; }
    
    [Parameter]
    public string SubmitTitle { get; set; } = "Submit";

    [Parameter]
    public EventCallback<UserDto> OnSubmit { get; set; }
    
    [Parameter]
    public EventCallback OnOpen { get; set; }

    private async Task HandleOpen(OpenableDialog context)
    {
        if (OnOpen.HasDelegate)
            await OnOpen.InvokeAsync();
        context.OpenDialog();
    }

    private async Task HandleSubmit(UserDto user, OpenableDialog context)
    {
        await OnSubmit.InvokeAsync(user);
        context.CloseDialog();
    }

}