@using Frontend.Providers
@using Entities.AuthDto
@using Entities.GroupDto
@using Frontend.Components.Forms
@using Frontend.Services
@using Frontend.Components.UI
@inject GroupService _groupService

<OpenableDialog>
    <Opener>
        <PrimaryIconButton @onclick="@context.OpenDialog" Icon="@Icon"></PrimaryIconButton>
    </Opener>
    <Title>
        @DialogTitle
    </Title>
    <ChildContent>
        <UserSelectForm
            OnSubmit="user => HandleSubmit(user, context)"
            Users="@Users"
            SelectedUserId="@SelectedUserId"/>
    </ChildContent>
</OpenableDialog>

@code {

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string DialogTitle { get; set; }

    [Parameter]
    public IEnumerable<UserDto> Users { get; set; }

    [Parameter]
    public string SelectedUserId { get; set; }

    [Parameter]
    public EventCallback<UserDto> OnSubmit { get; set; }

    private async Task HandleSubmit(UserDto user, OpenableDialog context)
    {
        await OnSubmit.InvokeAsync(user);
        context.CloseDialog();
    }

}