@page "/counter"
@using Frontend.Providers
@using Microsoft.Extensions.DependencyInjection
@inherits OwningComponentBase

<Authorized>
    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</Authorized>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        var a = ScopedServices.GetRequiredService<HttpClient>(); //component specific service DI
        base.OnInitialized();
    }

}