@page "/"
@inject NavigationManager _navigationManager
@inject GroupService _groupService;
@using Frontend.Providers
@using Frontend.Services
@using Frontend.Components.Groups
@using Microsoft.AspNetCore.Authorization
@using Frontend.Components.UI
@using Frontend.Constants
@attribute [Authorize]


<h3>Groups</h3>

<AddNewGroupForm/>

<div class="container-sm list-group">
    @foreach (var group in GroupServiceProvider.UserGroups)
    {
        <li class="list-group-item">
            @group.Name
            <PrimaryIconButton Icon="@IconName.IconRight" @onclick="() => HandleGroupNavigation(group.Id)"/>
        </li>
    }
</div>


@code {

    [CascadingParameter]
    public CurrentUserProvider CurrentUserProvider { get; set; }

    [CascadingParameter]
    public GroupServiceProvider GroupServiceProvider { get; set; }

    private void HandleGroupNavigation(Guid groupId)
    {
        _navigationManager.NavigateTo($"Group/{groupId}");
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("initializing component");
        /*if (CurrentUserProvider.CurrentUser != null)*/
            await _groupService.LoadAll();
    }

}