@page "/"

@using Frontend.Providers
@using Frontend.Services
@using Frontend.Components.Groups
@using Microsoft.AspNetCore.Authorization
@using Frontend.Components.UI
@using Frontend.Constants

@inject NavigationManager _navigationManager
@inject GroupService _groupService
@inject UserApiService _userApiService
@attribute [Authorize]

<h3>Groups</h3>

<AddNewGroupForm/>

<div class="max-content-container list-group">
    @foreach (var group in GroupServiceProvider.UserGroups)
    {
        <li class="list-group-item flex-space-between">
            <span class="mr-2">@group.Name</span>
            <PrimaryIconButton Icon="@IconName.IconRight" @onclick="() => HandleGroupNavigation(group.Id)"/>
        </li>
    }
</div>


@code {

    [CascadingParameter]
    public CurrentUserProvider CurrentUserProvider { get; set; }

    [CascadingParameter]
    public GroupServiceProvider GroupServiceProvider { get; set; }

    private void HandleGroupNavigation(Guid groupId)
    {
        _navigationManager.NavigateTo($"Group/{groupId}");
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(_userApiService.LoadCurrent(), _groupService.LoadAll());
    }

}