@page "/"
@inject NavigationManager _navigationManager
@inject GroupService _groupService;
@using Frontend.Providers
@using Frontend.Services
@using Frontend.Components.Groups
@attribute

<Authorized>
    <h3>Groups</h3>

    <AddNewGroupForm/>

    <div class="list-group">
        @foreach (var group in GroupServiceProvider.UserGroups)
        {
            <li class="list-group-item">
                <a onclick="@HandleGroupNavigation(group.Id)">@group.Name</a>
            </li>
        }
    </div>
</Authorized>

@code {

    [CascadingParameter]
    public CurrentUserProvider CurrentUserProvider { get; set; }

    [CascadingParameter]
    public GroupServiceProvider GroupServiceProvider { get; set; }

    private Action HandleGroupNavigation(Guid groupId)
    {
        return () => _navigationManager.NavigateTo($"Group/{groupId}");
    }

    protected override async Task OnInitializedAsync()
    {
        if (CurrentUserProvider.CurrentUser != null)
            await _groupService.LoadAll();
    }

}