@page "/Login"
@using Entities.AuthDto
@using Frontend.Providers
@using Frontend.Components.UI

<h3>Login</h3>

<EditForm Model="@_model" OnValidSubmit="HandleSubmit" class="max-content-container">
    <ValidationSummary/>
    <div class="form-group">
        <label for="email">Email:&nbsp;</label>
        <InputText id="email" placeholder="Email" class="form-control" @bind-Value="@_model.Email"/>

        <label for="password">Password:&nbsp;</label>
        <InputText id="password" placeholder="Password" type="password" class="form-control" @bind-Value="@_model.Password"/>
    </div>

    <PrimaryButton type="submit">Login</PrimaryButton>
</EditForm>

@code {

    [CascadingParameter]
    public AuthStateProvider AuthStateProvider { get; set; }

    private readonly LoginRequest _model = new();

    private async Task HandleSubmit()
    {
        await AuthStateProvider.Login(_model);
    }

}