@page "/Login"
@using Entities.AuthDto
@using Frontend.Providers
@using Frontend.Components.UI

<h3>Login</h3>
<EditForm Model="@request" OnValidSubmit="OnSubmit">
    Email: <InputText id="email" @bind-Value="@request.Email"/>
    Password: <InputText id="password" @bind-Value="@request.Password"/>

    <PrimaryButton Type="submit">Submit</PrimaryButton>
</EditForm>

@code {
    private LoginRequest request = new();

    [CascadingParameter]
    public AuthStateProvider AuthStateProvider { get; set; }

    private Task OnSubmit()
    {
        return AuthStateProvider.Login(request);
    }

}