@page "/Login"
@using Entities.AuthDto
@using Frontend.Providers
@using Frontend.Components.UI

<h3>Login</h3>
<EditForm Model="@_request" OnValidSubmit="OnSubmit">
    Email: <InputText id="email" @bind-Value="@_request.Email"/>
    Password: <InputText id="password" @bind-Value="@_request.Password"/>

    <PrimaryButton Type="submit">Submit</PrimaryButton>
</EditForm>

@code {
    private readonly LoginRequest _request = new();

    [CascadingParameter]
    public AuthStateProvider AuthStateProvider { get; set; }

    private Task OnSubmit()
    {
        return AuthStateProvider.Login(_request);
    }
}