@* Page used as fallback, when user is not logged in *@
@using Frontend.Components.UI
@inject NavigationManager _navigationManager

<div class="container">
    <h3>You need to be logged in to continue</h3>
    <PrimaryButton @onclick="@NavigateToLogin">Continue to login</PrimaryButton>
</div>

@code {
    
    private void NavigateToLogin()
    {
        _navigationManager.NavigateTo("Login");
    }

}