@page "/Register"
@using Entities.AuthDto
@using Frontend.Services
@inject AuthApiService _authService
@inject NavigationManager _navigationManager

<h1>Register</h1>
<EditForm Model="@_request" OnValidSubmit="OnSubmit">
    Email: <InputText id="email" @bind-Value="@_request.Email"/>
    Username: <InputText id="username" @bind-Value="@_request.Username"/>
    Password: <InputText id="password" @bind-Value="@_request.Password"/>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private readonly RegisterRequest _request = new();

    private async Task OnSubmit()
    {
        await _authService.Register(_request);
        _navigationManager.NavigateTo("login");
    }

}