@using Frontend.Services
@using Frontend.Components.UI
@using Frontend.Constants
@inject GroupService _groupService

<h4>Add new group</h4>

<EditForm Model="@_values" OnValidSubmit="@OnSubmit">
    <label for="name">Group name: </label>
    <InputText id="name" @bind-Value="@_values.Name"/>
    <PrimaryIconButton type="submit" Icon="@IconName.Plus"/>
</EditForm>

@code {
    private FormValues _values = new();

    private void ResetFormModel()
    {
        _values = new FormValues();
    }

    private async Task OnSubmit()
    {
        await _groupService.AddNewGroup(_values.Name);
        await _groupService.LoadAll();
        ResetFormModel();
    }
    
    private record FormValues
    {
        public string Name { get; set; }
    }

}