@using Entities.GroupDto
<h4>Payments</h4>
<AddPaymentGroupDialog Group="@Group"/>

@foreach (var paymentGroup in Group.GroupPayments)
{
    <div>
        <div>from: @paymentGroup.PaymentBy.UserName</div>
        <div>
            to:
            @foreach (var singlePayment in paymentGroup.PaymentTargets)
            {
                <span>@singlePayment.Price @singlePayment.Target.UserName</span>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public SinglePurposeUserGroupDto Group { get; set; }

}