@using Entities.GroupDto
@using Frontend.Services
@inject GroupService _groupService

<h4>Payments</h4>

<div class="mb-1">
    <AddPaymentGroupDialog Group="@Group"/>
</div>


<div class="row">
    @foreach (var paymentGroup in Group.GroupPayments)
    {
        <div class="col-4">
            <GroupPaymentCard Group="@Group" PaymentGroup="@paymentGroup"/>
        </div>
    }
</div>


@code {

    [Parameter]
    public SinglePurposeUserGroupDto Group { get; set; }

    private async Task HandleRemovePayment(UnidirectionalPaymentGroupDto paymentGroup)
    {
        await _groupService.ModifyUserGroup(new SinglePurposeUserGroupDto
        {
            Id = Group.Id,
            GroupPayments = Group.GroupPayments.Except(new[] { paymentGroup })
        });
        await _groupService.LoadAll();
    }

}