@using Entities.GroupDto
@using Entities.AuthDto
@using Frontend.Services
@using Frontend.Helpers
@inject GroupService _groupService

<h4>Users</h4>

@foreach (var user in Group.GroupUsers)
{
    <div>
        @user.UserName <button @onclick="RemoveUserFromGroup(user)">&times;</button>
    </div>
}
<AddNewFriendDialog Group="@Group"/>


@code {
    [Parameter]
    public SinglePurposeUserGroupDto Group { get; set; }
    
    private Func<Task> RemoveUserFromGroup(UserDto userDto) => async () =>
    {
        var userComparer = new PropertyEqualityComparer<UserDto, string>(user => user.Id);
        await _groupService.ModifyUserGroup(new SinglePurposeUserGroupDto
        {
            Id = Group.Id,
            GroupUsers = Group.GroupUsers
                .Except(new[] { userDto }, userComparer)
        });
        await _groupService.LoadAll();
    };

}