@using Frontend.Services
@using Entities.Dto.GroupDto
@inject GroupService _groupService

<h4>Payments</h4>

<div class="mb-2">
    <AddPaymentGroupDialog Group="@Group"/>
</div>


<div class="row">
    @foreach (var paymentGroup in Group.GroupPayments)
    {
        <div class="pl-0 pr-0">
            <GroupPaymentCard Group="@Group" PaymentGroup="@paymentGroup"/>
        </div>
    }
</div>


@code {

    [Parameter]
    public SinglePurposeUserGroupDto Group { get; set; }

    private async Task HandleRemovePayment(UnidirectionalPaymentGroupDto paymentGroup)
    {
        await _groupService.ModifyUserGroup(new SinglePurposeUserGroupDto
        {
            Id = Group.Id,
            GroupPayments = Group.GroupPayments.Where(group => group != paymentGroup)
        });
        await _groupService.LoadAll();
    }

}