@using Frontend.Providers
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Group expenses</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <Authorized>
            <button type="button" @onclick="AuthStateProvider.Logout">Logout</button>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/" m Match="@NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Groups
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Friends">
                    <span class="oi oi-home" aria-hidden="true"></span> Friends
                </NavLink>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Register">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                </NavLink>
            </li>
        </NotAuthorized>


    </ul>
</div>

@code {

    [CascadingParameter]
    public AuthStateProvider AuthStateProvider { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}