@using Frontend.Components.UI
@using Entities.Dto.GroupDto

<EditForm Model="@_model" OnValidSubmit="@HandleSubmit">
    <label for="groupName">Group name:</label>
    <InputText id="groupName" @bind-Value="@_model.Name"/>
    <PrimaryButton type="submit">Submit</PrimaryButton>
</EditForm>

@code {

    [Parameter]
    public UnidirectionalPaymentGroupDto PaymentGroup { get; set; }

    [Parameter]
    public EventCallback<UnidirectionalPaymentGroupDto> OnSubmit { get; set; }

    private UnidirectionalPaymentGroupDto _model;

    protected override void OnInitialized()
    {
        _model = new UnidirectionalPaymentGroupDto { Name = PaymentGroup?.Name };
    }

    private async Task HandleSubmit()
    {
        await OnSubmit.InvokeAsync(_model);
        _model = new UnidirectionalPaymentGroupDto();
    }


}